@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap');


*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
    
}
:root{
    --font-padrao: 'Josefin Sans',serif;
    --fonte-destaque: 'Kumbh Sans',serif;
   --fonte-nova: 'Biryani', sans-serif;
}
body{
    background-color: white;
    width: 100%;
    
}

.menu-desktop{
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right,#005fb4,#00579d, #00347f) ;
    height: 60px;
    width: 100%;
    top: 0;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.192);
}

.menu{
    background-color:none;
    display: flex;
    margin: 5px;
    height: 40px;
   
}
.video{
    width: 100%;
    height: 100%;
   object-fit: cover;
   position: absolute;
    display: block;
   /* background-image:linear-gradient(to right,#005294,#014e91,#00498d,#01478a,#004486) ;
    padding-bottom: 100px;*/
}
#video2{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    /*background-image:linear-gradient(to right,#005294,#014e91,#00498d,#01478a,#004486) ;*/
   /* padding-bottom: 100px;*/
}

.opções-menu{
    display: flex;
   align-items: center;
}
.opções-menu:not(:last-child){
    margin-right: 30px;
}
.celular1{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
    position: relative;
    padding: 3px;

}
.celular{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
    position: relative;
    left: -10px;
    padding: 3px;
}
#fale-comigo{
    margin-right: 10px;
}
.hamburguer{
    display: none;
    width: 20px;
    height: 20px;
    background-image: url("Imagens/icon-hamburger.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-mobile{
    display: none;
    background-color: black;
    height: 270px;
    padding: 30px;
    background-image: linear-gradient(to right,#005fb4,#00579d, #00347f) ;
}
.menu-mobile li{
    text-align: center;
}
.opções-menu-mobile{
    display: flex;
    justify-content: center;
    width: 100%;
}
.opções-menu-mobile:not(:last-child){
    margin-bottom: 30px;
}
#fale-comigo-mobile{
    padding: 0;
    margin-top: 10px;
    position: relative;
    left: -10px;
}
.Logo{
    color: white;
    font-size: 22px;
    text-decoration: none;
    margin: 10px;
    font-family: var(--fonte-padrao);
   

}
.link{
    font-family: var(--font-padrao);
    font-weight: 900;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    
}

.link:hover{
    background-color: white;
    padding: 5px;
    color: black;
}
main{
    justify-content: space-around;
        background-color: white;
    
    
    
}
main #p1{
    font-family: var(--fonte-padrao);
    font-size: 2em; 
    color: white;
    font-weight: bold;
       
}

main #p2{
    font-family: arial black;
    font-size: 3em;
    
    margin-top: 30px;
    color: white;
       
}


main #p3{
    font-family: var(--font-padrao);
    font-size: 2em;
    font-weight: bold;
    margin-top: 30px;
    color: white;
    margin-bottom: 20px;
       
}
#p3::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar .7s infinite;
    }

    @keyframes piscar{
        0%,100%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
    }

.apresentação{
   align-self: center;
   display: block;
   position: relative;
    height: 900px;
}
.container-apresentação{
    width: 400px;
    position: absolute;
    top: 200px;
    left: 100px;
}
.redessociais{
    
   display: flex;
   
    
}
.botãolink{
    margin: 20px;
       
}
.botãoredes{
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    width: 90px;
    color: black;
    font-size: 1em;
    font-family: var(--fonte-padrao);
    font-weight: 900;
    border: 1px solid;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.295);
    background-color: #00579d;
    color: white;
}
.botãoredes:hover{
    background-color: #00347f;
    color: white;
    
    
}

#quemsoueu{
    width: 100%;
    position: relative;
    padding: 40px 0px 40px 0px;
    
   
   
}

.container-cards{
 display: flex;
 position: relative;  
width: 100%;
justify-content: center;
align-items: center;
}
.container-card{
transform: translateY(100px);
opacity: 0;

}


.carde:hover .container-card{
    transform: translateY(0px);
opacity: 1;
transition: 0.5s;
margin-top: 50px;
}
.carde:hover{
    background-color:#00569ddf ;
}

.carde:hover .titulo-card1{
    
opacity: 0;
transition: 0.2s;
}

.carde{
    background-color: #00357feb;
    width: 280px;
    height: 300px;
    border-radius: 10px;
 
    text-align: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.carde h2{
    margin-bottom: 20px;
}
.titulo-card1{
    
    color: white;
    letter-spacing: 4px;
    font-family: var(--fonte-nova);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: bold;
}
.carde li{
    margin-top: 10px;
}
.carde:not(:last-child){
    margin-right: 30px;
}

.item-lista-card{
    color: white;
    font-family: var(--fonte-destaque);
    list-style: none;
}

.soueu{
    
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
}
.descrição{
   
    padding: 0px 30px 60px 30px;
    margin-top: 40px;
    width: 100%;
    
}
.fechar{
    color: white;
    font-family: var(--fonte-destaque);
    margin-top: 10px;
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 0;
}
.titulo-quem-sou{
    color: black;
    font-family: var(--fonte-nova);
    font-size: 2.5rem;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

#container-saiba-mais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 50px 0px ;
    background-color: #00357f0a;
    
}
.toque-saiba-mais{
    
    color: black;
    font-family: var(--fonte-destaque);
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    color: #00357ff9;
    padding: 20px;
}
#seta-esquerda, #seta-direita{
    animation: piscar 1s infinite;
    height: 80px;
    width: 80px;
}

.section2{
    background-color: rgba(0, 0, 0, 0.97);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
}
section h1{
    color: white;
    margin-bottom: 20px;
    font-size: 2.7em;
    font-family: var(--fonte-destaque);
    text-align: center;
    font-weight: 100;
    
}
section p{
    color: white;
    line-height: 2em;
    font-size: 1.5em;
    font-family: var(--font-padrao);
    text-align: justify;
    
}
.imagem2{
    width: 240px;
    margin-top: 40px ;
    padding-left: 10px;
  
    
}
.img2{
    text-align: center;
   
    
}

#containerprojetos{
    
    margin-top: 10px;
    
    width: 100%;
    background-color: white;
    margin: auto;  
    
}
.titulo-container{
    font-family: var(--fonte-destaque);
    padding-top: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
}
#botaoantes {
    
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.081),rgba(0, 0, 0, 0.464), rgba(0, 0, 1, 0.41));
    
    
}
#botaodepois{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.081),rgba(0, 0, 0, 0.464), rgba(0, 0, 1, 0.41));
}
#botaoantes:hover, #botaodepois:hover{
  background-color: rgba(0, 0, 0, 0) ;
    
}
#projetos{
    display: flex;
    margin: auto;
    justify-content: center;
        
}
#projetos2{
    display: flex;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
}

.projeto p{
    text-align: justify;
    font-weight: bold;
    font-family:var(--font-padrao);
    margin-bottom: 20px;
    
}

div.projeto{
    align-items: center;
    display: block;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 20px;
    margin: 50px;
    font-family:var(--fonte-destaque);
    max-width: 300px;
    
}
.projeto img{
    max-width: 100%;

}
.botão-visualizar{
    cursor: pointer;
    border: 1px solid;
     width: 100%;
     height: 30px;
    color: black;
    font-family: var(--fonte-padrao);
    font-weight:bold;
    border-radius: 5px;
    margin-left: auto;

}
.botão-visualizar:hover{
    color: white;
    background-color: black;

}
footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    
}
footer p{
    font-family: var(--font-padrao);
    margin-bottom: 0;
    
}
.show-mobile{
    display: block;
}
.plano-fundo{
    background-image:url("Imagens/icon-close.svg");
    transition: 1s;
}
.ocultar{
    display: none;
}
/* CONFIGURANDO O CARROCEL*/

.titulo-projeto{
    font-family: var(--fonte-destaque);
    font-weight: 100;
    position: relative;
    font-size: 3rem;
   top: 80px;
    text-align: center;
    color: white;
    
}
.titulo{
    justify-content: center;
   margin-top: 50px;
   
    display: flex;
    
    
}


.mostrar{
    display: block;
}
/* USO DE MEDI QUERY*/

@media screen and (max-width:936px){
      
    .container-cards{
        flex-direction: column;
      
        
    }
    .carde:not(:last-child){
        margin-bottom: 30px;
        margin-right: 0;
    }
    .toque-saiba-mais{
        top: 93%;
    }
}


@media screen and (max-width:777px){
    .titulo-quem-sou{
        font-size: 2.2rem;
    }

 main{
    justify-content: center;
 }
 
 #projetos{
     display: block; 
 }
 
 #projetos2{
    display: block;   
 }

 div.projeto{
    margin: auto;
    margin-bottom: 20px;
}
 .container-apresentação{
    
    left: 50%;
    transform: translateX(-50%);
     text-align: center;

 }
 .redessociais{
    justify-content: center;
 }
 
}
@media screen and (max-width:600px){
  
    .menu{
        display: none;
    }
    .hamburguer{
        display: block;
    }
    nav{
        padding-right: 20px;
        box-sizing: border-box;
    }
    .descrição{
        width: 100%;
        margin-left: 0;
    }
    main #p1{
        margin-bottom: 30px;
    }
    
    main #p2{
        font-size: 2em;  
        margin-top: 30px;
    }
    main #p3{
        font-size: 1.5em;
    }
   
   
}
@media screen and (max-width:493px){
    .titulo-quem-sou{
        font-size: 2rem;
    }

.link{
    margin:2px;
}
.logo{
    margin: 5px;
}
.imagem2{
    padding: 5px;
}
.descrição{
    text-align: center;
}
#containerprojetos h1{
    text-align: center;
}

.soueu{
    display: block;
    width: 100%;
}

.link:hover{
    background-color: white;
    padding: 5px;
    margin: 5px;
    color: black;
}



}
@media screen and (max-width:400px){
    .titulo-quem-sou{
        font-size: 1.7rem;
    }
    #containerprojetos h1{
        margin-top: 10px;
    }
   
    .container-apresentação{
        width: 300px;
    }
   main #p1{
        font-size: 1.7rem;
    }
.apresentação{
    
    text-align: center;
}
.redessociais{
    width: 200px;
    text-align: center;
    margin: auto;
}
.redessociais a{
    margin: 10px;
}

.soueu{
    display: block;
    width: 100%;
}
.imagem2{
    padding-top: 10px;
    
}
#quemsoueu{
    width: 100%;
}
.soueu h1{
    text-align: center;
}



}
@media screen and (max-width:320px){

    .redessociais{
        display: block;
        
    }
    .redessociais button{
        margin: 20px 40px 20px 0px;
    }
   
    
}